.greetings-content {
  font-family: 'Raleway', sans-serif;
  font-style: italic;
  font-size: 40px;
  line-height: 1.5;
  margin: 40px 0;
  text-align: center;
}

/*client history*/
.preferences-content {
  display: flex;
  justify-content: space-around;
  margin: 40px 0;
  padding: 20px 0;
}

.preferences-stat {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-family: 'Raleway', sans-serif;
  font-size: large;
  width: 20%;
}

.client-list {
  counter-reset: li;
  list-style: none;
  padding: 0;
  text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
}

.client-element {
  padding: .4em .4em .4em 2em;
  margin: .5em 0;
  background: #C2AFA7;
  color: #000;
  text-decoration: none;
  border-radius: .3em;
}

.title-element {
  font-weight: 800;
  font-size: 20px;
  font-style: italic;
}

.client-books {
  width: 20%;
}


/* suggestion content */
.suggestion-content {
  width: 70%;
  margin: auto;
  font-family: 'Raleway', sans-serif;
}


.btn {

  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
}


.btn:hover {
  background-color: #5C5858;
  color: #F5A989;
}



.book-element {
  display: flex;
  justify-content: space-evenly;
  margin: 20px 40px;
  padding: 10px 0;
  background: #8E8989;
  opacity: 0.8;
  border-radius: 15px;

}

.book-img {
  width: 15%;
  padding: 5px;
}

.book-descr {
  display: flex;
  flex-flow: column;
  font-family: 'Raleway', sans-serif;
  width: 70%;
}

.descr-element {
  display: flex;
  justify-content: space-between;
}

.read-button {
  align-self: center;
  background: #C2AFA7;
  text-decoration: none;
  border: 1px solid #DBDBDB;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 10px;
}

.read-button:active {
  background: #C7DBBD;
}


@media screen and (max-width: 780px) {
  .client-books {
    width: 40%;
  }


  .suggestion-content {
    width: 90%;
  }
}

@media screen and (max-width: 420px) {
  .preferences-content {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  .preferences-stat {
    width: 80%;
  }

  .title-element {
    text-align: center;
  }

  .client-books {
    width: 70%;
  }

  .suggestion-content {
    width: 100%;
  }

  .book-element {
    flex-direction: column;
    justify-content: center;
    margin: 10px 10px;
  }

  .book-descr {
    width: 90%;
    padding: 0 10px;
  }

  .book-img {
    width: 50%;
    align-self: center;
  }
}
