<div class="greetings-content">
  <p>Вітаємо, "Ім'я користувача"!</p>
</div>
<div class="preferences-content">
  <div class="preferences-stat">
    <div class="read-books">
      <p class="title-element">Прочитані книги:</p>
      <ol class="client-list">
        <li class="client-element"><a>Книга</a></li>
        <li class="client-element"><a>Книга</a></li>
        <li class="client-element"><a>Книга</a></li>
      </ol>
    </div>
    <div class="genres">
      <p class="title-element">Улюблені жанри:</p>
      <ul class="client-list">
        <li class="client-element">Жанр</li>
        <li class="client-element">Жанр</li>
      </ul>
    </div>
  </div>
  <img src="../../assets/client-books.png" class="client-books">
</div>
<div class="suggestion-content">
  <div>
    <p class="title-element">Цікавинки для Вас:</p>
  </div>
  <div class="book-element">
    <img src="../../assets/book-cover.png" class="book-img" alt="book_cover">
    <div class="book-descr">
      <div class="descr-element">
        <div>
          <h2>Назва книги</h2>
          <p><span>Автор:</span> Lorem Ipsum</p>
          <p><span>Розділ:</span> Lorem Ipsum</p>
        </div>
        <button class="read-button btn">Прочитано</button>
      </div>
      <p><span>Короткий опис:</span><br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sapien velit,
        laoreet ac velit in, mollis iaculis lorem...</p>
    </div>
  </div>
</div>
