.autorization {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}

.registration {
  width: 50%;
}

.login {
  width: 50%;
}

* {
  box-sizing: border-box
}

/* Add padding to containers */
.container {
  position: relative;
  padding: 16px;
}

.error {
  position: absolute;
  color: red;
}

.sign-in-form__error_password {
  top: 50%;
  right: 10%;
}

.sign-in-form__error_email {
  top: 31%;
  right: 10%;
}

.sign-up-form__error_name {
  top: 28%;
  right: 10%;
}

.sign-up-form__error_email {
  top: 46%;
  right: 10%;
}

.sign-up-form__error_password {
  top: 65%;
  right: 10%;
}

/* Full-width input fields */
input {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

.login-hr {
  margin-bottom: 40px;
}

/* Set a style for the submit/register button */
.registerbtn {
  padding: 16px 20px;
  margin: 8px 0;
  background: #C2AFA7;
  text-decoration: none;
  border: 1px solid #DBDBDB;
  letter-spacing: 2px;
  text-transform: uppercase;
  width: 100%;
  opacity: 0.9;
}


.btn {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
}


.btn:hover {
  background-color: #5C5858;
  color: #F5A989;
}

.loginbtn {
  margin-top: 66px;
}

.owl {
  width: 15%;
  margin: 10px;
  align-self: flex-start;
}

@media screen and (max-width: 1040px) {
  .autorization {
    height: 50%;
  }
}

@media screen and (max-width: 420px) {
  .autorization {
    flex-direction: column;
    height: auto;
  }

  .registration, .login {
    width: 100%;
  }

  .owl {
    width: 30%;
    align-self: center;
  }
}
