<div class="autorization">
  <div class="registration">
    <form [formGroup]="signUpForm">
      <div class="container">
        <h1>Реєстрація особистого кабінету</h1>
        <hr>
        <input type="text" placeholder="Ім'я користувача" formControlName="name" name="name" [(ngModel)]="name">
        <p *ngIf="signUpForm.controls.name.errors && signUpForm.controls.name.touched"
           class="error sign-up-form__error_name">
          *invalid Field
        </p>
        <input type="text" placeholder="Електронна адреса" formControlName="email" name="email" [(ngModel)]="email">
        <p *ngIf="signUpForm.controls.email.errors && signUpForm.controls.email.touched"
           class="error sign-up-form__error_email">
          *invalid Field
        </p>
        <input type="password" placeholder="Пароль" name="psw" formControlName="password" [(ngModel)]="password">
        <p *ngIf="signUpForm.controls.password.errors && signUpForm.controls.password.touched"
           class="error sign-up-form__error_password">
          *invalid Field
        </p>
        <button class="registerbtn sign-up btn" (click)="signUp()">Зареєструватися</button>

      </div>
    </form>
  </div>
  <img src="../../assets/owl.png" class="owl">
  <div class="login">
    <form [formGroup]="signInForm">
      <div class="container">
        <h1>Вхід в особистий кабінет</h1>
        <hr class="login-hr">
        <input type="text" formControlName="email" placeholder="Електронна адреса" name="email" [(ngModel)]="logEmail" required>
        <p *ngIf="signInForm.controls.email.errors && signInForm.controls.email.touched"
           class="error sign-in-form__error_email">
            *invalid Field
        </p>
        <input type="password" formControlName="password" placeholder="Пароль" name="psw" [(ngModel)]="logPassword" required>
        <p *ngIf="signInForm.controls.password.errors && signInForm.controls.password.touched"
           class="error sign-in-form__error_password">
          *invalid Field
        </p>
        <button class="registerbtn loginbtn btn" (click)="signIn()">Увійти</button>
      </div>
    </form>
  </div>
</div>
