.header {
  display: flex;
  justify-content: space-between;
  background: #8E8989;
  color: #DBDBDB;
  height: 90px;
}

.logo-info {
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-template {
  margin: 0;
}

.main-menu {
  padding: 0 20px;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-item {
  padding: 10px 15px 10px;
  margin: 0;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
}

/* menu buttons hover effect */
.btn {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
}


.btn:hover {
  background-color: #5C5858;
  color: #F5A989;
}

a {
  text-decoration: none;
  color: #DBDBDB;
}


a{
    text-decoration: none;
    color: #DBDBDB;
}
    

@media screen and (max-width: 420px) {
  .header {
    flex-direction: column;
    justify-content: space-evenly;
  }
}
