<header class="header">
  <div class="logo-info">
    <h3 class="logo-template">Logo</h3>
  </div>
  <div class = "main-menu">
    <a routerLink = "/welcome" class="menu-item btn">Про нас</a>
    <a routerLink = "/catalog" class="menu-item btn">Каталог</a>
    <a (click)="goToMyPage()" class="menu-item btn">Особистий кабінет</a>
  </div>
</header>


