.search-content {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

* {
  box-sizing: border-box;
}

form {
  position: relative;
  width: 500px;
  margin: 0 auto;
}

input::-webkit-input-placeholder {
  color: #fff;
  font-size: 16px;
}

input, .submit-btn {
  border: none;
  outline: none;
  border-radius: 3px;
}

input {
  width: 100%;
  height: 50px;
  background: #8E8989;
  padding-left: 15px;
  color: #fff;
  font-size: 16px;
}

.submit-btn {
  height: 30px;
  width: 30px;
  position: absolute;
  top: 10px;
  right: 8px;
  background: #DBDBDB;
  cursor: pointer;
}

.submit-btn:before {
  content: "\f105";
  font-family: FontAwesome;
  color: #8E8989;
  font-size: 20px;
  font-weight: bold;
}

.page-title {
  text-align: center;
  font-size: 60px;
  padding: 40px;
  font-family: 'Raleway', sans-serif;
}

.page-title {
  margin: 10px;
}


/* main content */
.main-content {
  display: flex;
  justify-content: space-between;
  padding: 40px 20px;
}

.side-menu-content {
  width: 30%;
}

.side-menu {
  background: #C2AFA7;
  padding: 30px 3px;
  border-radius: 15px;
  margin: 0 10px;
}

.side-menu-elements {
  color: #fff;
  background: #8E8989;
  margin: 10px;
  padding: 5px;
  font-family: 'Raleway', sans-serif;
}


/* menu buttons hover effect */
.btn {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
}


.btn:hover {
  background-color: #5C5858;
  color: #F5A989;
}



/* catalog elements */
.book {
  width: 70%;
}

.book-element {
  display: flex;
  justify-content: space-evenly;
  margin: 20px 0;
  padding: 10px 0;
  background: #8E8989;
  opacity: 0.8;
  border-radius: 15px;
}

.book-img {
  width: 15%;
  padding: 5px;
}

.book-descr {
  display: flex;
  flex-flow: column;
  font-family: 'Raleway', sans-serif;
  width: 70%;
}

.descr-element {
  display: flex;
  justify-content: space-between;
}

.read-button {
  align-self: center;
  background: #C2AFA7;
  text-decoration: none;
  border: 1px solid #DBDBDB;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 10px;
}

.read-button:active {
  background: #C7DBBD;
}
.btn{
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
}


.btn:hover {
  background-color: #5C5858;
  color: #F5A989;
}

@media screen and (max-width: 780px) {
  .main-content {
    flex-direction: column;
  }

  .side-menu-content {
    width: 70%;
    align-self: center;
  }
}

@media screen and (max-width: 420px) {
  form {
    width: 300px;
  }

  .book-element {
    flex-direction: column;
    justify-content: center;
  }

  .book-descr {
    width: 100%;
    padding: 0 10px;
  }

  .book-img {
    width: 50%;
    align-self: center;
  }

  .page-title {
    font-size: 30px;
    padding: 20px;
  }
}
