<div class="search-content">
  <p class="page-title">КАТАЛОГ КНИГ</p>
  <form>
    <input type="text" placeholder="Знайти у каталозі" [(ngModel)]="search" name="search">
    <button class="submit-btn" (click)="getBookByName()"></button>
  </form>
</div>
<div class="main-content">
  <div class="side-menu-content">
    <div class="side-menu">
      <p class="side-menu-elements btn" (click)="getBooksByGenre('фантастика')">ФАНТАСТИКА</p>
      <p class="side-menu-elements btn" (click)="getBooksByGenre('детектив')">ДЕТЕКТИВИ</p>
      <p class="side-menu-elements btn" (click)="getBooksByGenre('роман')">ЛЮБОВНІ РОМАНИ</p>
      <p class="side-menu-elements btn" (click)="getBooksByGenre('пригоди')">ПРИГОДИ</p>
      <p class="side-menu-elements btn" (click)="getBooksByGenre('дитяча')">ДИТЯЧА ЛІТЕРАТУРА</p>
      <p class="side-menu-elements btn" (click)="getBooksByGenre('наука')">НАУКА ТА ОСВІТА</p>
      <p class="side-menu-elements btn" (click)="getBooksByGenre('класика')">КЛАСИКА</p>
      <p class="side-menu-elements btn" (click)="getBooksByGenre('поезія')">ПОЕЗІЯ</p>
    </div>
  </div>
  <div class="book">
    <div class="book-element" *ngFor="let book of books">
      <img src={{book.image}} class="book-img" alt="book_cover">
      <div class="book-descr">
        <div class="descr-element">
          <div>
            <h2>{{book.name}}</h2>
            <p><span>Автор:</span> {{book.author}}</p>
            <p><span>Розділ:</span> {{book.genre}}</p>
          </div>
          <button class="read-button btn" (click)="addBookToUser(book)">Прочитано</button>
        </div>
        <p><span>Короткий опис:</span><br>{{book.description}}</p>
      </div>
    </div>
  </div>
</div>
