/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* menu buttons hover effect */
.btn{
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
  
.btn:hover {
    background-color: #5C5858;
    color: #F5A989;
  }
  
