/* site name part */
.up-content {
  background: url("../../assets/home_page-background.png");
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #DBDBDB;
}

.library-name {
  font-size: 100px;
  font-family: 'Limelight', cursive;
}

/* text about library*/

.main-content {
  position: relative;
  height: 100%;
  background: #DBDBDB;
  color: #5C5858;
}

.main-books {
  position: absolute;
  z-index: 1;
  width: 50%;
  padding-left: 43%;
  padding-top: 3%;
}

.about-content {
  position: absolute;
  z-index: 2;
  width: 35%;
  padding-top: 15%;
  padding-left: 15%;
}

.about-library {
  opacity: 0.6;
  background: #8E8989;
  color: #fff;
  padding: 30px;
}

.about-element {
  text-align: center;
}

.about-title {
  font-weight: bold;
  font-size: 24px;
  font-family: 'Raleway', sans-serif;
}

.about-text {
  font-size: 18px;
  line-height: 1.5;

}

.about-end {
  padding-top: 20px;
  font-size: 25px;
  font-family: 'Dancing Script', cursive;
}

@media screen and (max-width: 1025px) {
  .main-books {
    padding-top: 20%;
    width: 60%;
    padding-left: 30%;

  }

  .about-content {
    padding-top: 60%;
    width: 60%;
  }

}

@media screen and (max-width: 780px) {
  .main-books {
    display: none;

  }
}

@media  screen and (max-width: 1025px) {
    .main-books{
      padding-top: 20%;
      width: 60%;
      padding-left: 30%;
  
    }
    .about-content{
      padding-top: 60%;
      width: 60%;
    }
    
  }
  
  @media  screen and (max-width: 780px) {
    .main-books{
      display: none;
  
    }
    .about-content{
      width: 90%;
      padding-left: 5%;
      padding-top: 20%;
    }
    
  }


