<div class="up-content">
  <h1 class="library-name">Library</h1>
</div>

<div class="main-content">
  <img src="assets/home_page-books.png" class="main-books" alt="books">
  <div class="about-content">
    <div class="about-library">
      <h2 class="about-element about-title">Про бібліотеку</h2>
      <p class="about-element about-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sapien velit,
        laoreet ac velit in, mollis iaculis lorem. Aliquam pharetra, urna vestibulum fringilla vulputate, est quam
        finibus urna, ut porttitor turpis nunc eget leo.
      </p>
      <h3 class="about-element about-end">
        A classic is something that everybody wants to have read and nobody wants to read
      </h3>
    </div>
  </div>
</div>
